header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

main {
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    text-align: center;
}

button {
    text-align: center;
    transition-duration: 0.4s; 
    background-color: lightgreen;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}

button:hover {
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.timer {
    display: flex;
    font-size: 30px;
}

.scores-button {
    display: flex;
}